.chat-board {
  background-color: $white;
  color: $grey;
  overflow: hidden;
  margin-bottom: 5rem;
  .msg-head {
    background-color: $brown-light;
    height: 3.5rem;
    color: $black;
    font-weight: bolder;
    line-height: 3.5;
    padding-left: 1rem;
  }
  .person-icon {
    float: left;

    img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
  .msg-card {
    margin: 2rem 2rem 2rem 2rem;

    .main-comment {
      margin: 2rem 2rem 2rem 6rem;
    }
  }
  .main-pics {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    img {
      width: 150px;
      height: 150px;
      padding-left: 1rem;
    }
  }
}

.form-chat {
  margin-top: 2rem;
  margin-bottom: 5rem;
  //メッセージ送信ボタンの位置調整用
  .btn-ajust {
    margin-top: 5.5rem;
    margin-left: 2rem;
  }
}

.info-card {
  margin-top: 30px;
  margin-bottom: 1.5rem;
  .form-badge {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .icon {
    display: flex;
    justify-content: center;

    img {
      margin-top: 1rem;
      width: 180px;
      height: 180px;
    }
  }
  .info-area {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    li {
      font-weight: bolder;
      color: $grey;
    }
    .info-span {
      margin-left: 1rem;
    }
  }
}

.center {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
