.animalpage-pics {
  background-color: $white;
  color: $grey;
  overflow: hidden;
  margin-bottom: 5rem;

  .pic-left {
    float: left;
    width: 65%;
    text-align: center;

    img {
      margin-top: 2.5rem;
      height: 40%;
      width: 70%;
      padding-bottom: 2rem;
    }
  }
  .pic-right {
    float: right;
    width: 35%;
    display: flex;
    text-align: center;
    img {
      height: 40%;
      width: 70%;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
      &:first-child {
        margin-top: 1.5rem;
      }
    }
  }
}
.animalpage-pics {
  overflow: hidden;
}
.animalpage-head {
  background-color: $brown-light;
  height: 3.5rem;
  color: $black;
  font-weight: bolder;
  line-height: 3.5;
  padding-left: 1rem;
}

.animal-info {
  background-color: $white;
  color: $grey;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  .animal-info-main {
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 1.5rem;
    li {
      display: block;
      border-bottom: 1px solid lighten($grey, 40%);
      &:last-child {
        border: none;
      }
    }
  }

  .animal-info-comment {
    float: right;
    width: 50%;
    h5 {
      text-align: center;
    }
    p {
      display: block;
      margin: 0px 1rem 1rem 1rem;
    }
  }
}
.animalpage-side {
  background: $white;
  .comment {
    display: inline-block;
    margin: 1rem 1rem 1rem 1rem;
    padding-bottom: 10px;
  }
  .center {
    margin-top: 5rem;
  }
}
