.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;

  .side {
    background: $white;
    margin-top: 100px;
    height: max-content;
    display: block;
    justify-items: center;
  }
  .main,
  .side {
    padding: 2%;
    border-radius: 3px;
  }
}
.chat-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  min-height: 600px;
  .chat-side {
    background: $white;
    height: max-content;
    margin-top: 100px;
    margin-right: 1.3rem;
    display: block;
    justify-items: center;
  }
  .chat-main,
  .chat-side {
    padding: 2%;
    border-radius: 3px;
  }
}

.mypage-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  min-height: 600px;
  .mypage-side {
    height: max-content;
    background: $white;
    margin-top: 100px;
    margin-right: 1.3rem;
    display: block;
    justify-items: center;
    margin-bottom: 20px;
  }
  .mypage-main,
  .mypage-side {
    padding: 2%;
    border-radius: 3px;
  }
}
.animalpage-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  min-height: 600px;
  .animalpage-main {
    margin-top: 85px;
  }
  .animalpage-side {
    background: $white;
    margin-top: 100px;
    margin-right: 1.3rem;
    height: max-content;
    display: block;
    justify-items: center;
  }
  .animalpage-main,
  .animalpage-side {
    padding: 2%;
    border-radius: 3px;
  }
}
