$orange: rgb(217, 187, 98);
$brown-dark: rgb(140, 120, 81);
$brown-light: rgba(140, 120, 81, 0.5);
$grey: #707070;
$white: #ffffff;
$black: #46434a;
$pink: #f3a49b;
$blue: #8ea9e4;
$background: #f2f2f2;
